.accordion {
  @include poppins;
  color: $black;
  border: 1px solid $brown;

  li {
    position: relative;

    &:not(:last-child) {
      border-bottom: 1px solid $brown;
    }
  }
}

.accordion__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;

  @media (max-width: $mobile-max-width) {
    font-size: 16px;
  }

  svg {
    position: absolute;
    top: 48px;
    right: 50px;
    width: 17px;
    height: 10px;
    stroke: $brown;
    fill: none;

    @media (max-width: $tablet-max-width) {
      width: 23px;
      height: 16px;
    }

    @media (max-width: $mobile-max-width) {
      top: 20px;
      right: 22px;
    }
  }

  &--current {
    svg {
      transform: rotate(180deg);
    }
  }
}

.accordion__content {
  @media (max-width: $mobile-max-width) {
    font-size: 14px;
  }

  &--hidden {
    display: none;
  }

  .accordion__current & {
    display: block;
  }
}
