.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 570px;
  height: 300px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    overflow: hidden;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    height: 512px;
  }

  time {
    display: block;
    margin-bottom: 12px;

    @include poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $grey;
  }

  h3 {
    margin: 0 auto 39px;
    width: 57%;

    @include cormorant;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    line-height: 33px;

    @media (max-width: $tablet-max-width) {
      width: 50%;
    }

    @media (max-width: $mobile-max-width) {
      width: 56%;
    }
  }

  a {
    margin: 0 auto;
  }

  img {
    width: 285px;
    height: 300px;

    @media (max-width: $tablet-max-width) {
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: $mobile-max-width) {
      width: 290px;
      height: 256px;
    }
  }

  &--large {
    position: relative;
    display: block;
    height: 630px;

    @media (max-width: $tablet-max-width) {
      position: static;
      display: grid;
      height: 300px;
    }

    img {
      width: 570px;
      height: 630px;

      @media (max-width: $tablet-max-width) {
        height: 412px;
      }

      @media (max-width: $mobile-max-width) {
        height: 412px;
      }
    }
  }
}

.article__column {
  padding-top: 67px;
  width: 285px;
  height: 300px;
  background-color: $beige;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    width: 100%;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 45px;
    width: 290px;
    height: 256px;
  }

  .article--large & {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: $tablet-max-width) {
      position: static;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.article__image-block {
  overflow: hidden;

  @media (max-width: $mobile-max-width) {
    order: -1;
    height: 256px;
  }
}
