.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  min-height: 463px;
  background-image: url("../img/intro/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include cormorant;
  color: $white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/intro-desktop@2x.jpg");
  }

  @media (max-width: $tablet-max-width) {
    padding-top: 0;
    background-image: url("../img/intro/intro-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-max-width) {
    background-image: url("../img/intro/intro-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg");
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-max-width) {
      padding-top: 4px;
    }

    @media (max-width: $mobile-max-width) {
      padding-top: 10px;
      font-size: 38px;
    }
  }

  span {
    display: block;
    font-size: 38px;
    font-style: italic;
    font-weight: normal;
    text-align: center;

    @media (max-width: $mobile-max-width) {
      font-size: 34px;
      margin-bottom: 5px;
    }
  }
}
