.new {
  h2 {
    margin-top: 0;
    margin-bottom: 36px;

    @media (max-width: $tablet-max-width) {
      margin-bottom: 31px;
    }
  }
}

.new__link {
  margin: 0 auto 60px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 41px;
  }
}

.new__control {
  position: absolute;
  top: 30px;

  @media (max-width: $mobile-max-width) {
    display: none;
  }

  span {
    display: none;
  }

  svg {
    stroke: $brown;

    @media (max-width: $tablet-max-width) {
      width: 36px;
      height: 15px;
    }
  }

  &--previous {
    left: 0;
  }

  &--next {
    right: 0;
    transform: rotate(180deg);
  }

  &:hover {
    svg {
      stroke: $black;
    }
  }

  &:active {
    svg {
      opacity: 0.5;
    }
  }
}

.new__catalog {
  margin-bottom: 52px;

  @media (max-width: $tablet-max-width) {
    margin: 0 auto 42px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }
}

.new__pagination-list {
  margin: 0 auto;
  padding-left: 0;
  width: max-content;
}
