.page-footer {
  @include poppins;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  background-color: $basic-black;

  h2 {
    margin-top: 0;
    margin-bottom: 9px;

    @include cormorant;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.03em;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 13px;
      width: 73%;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 44px;
    color: $grey;

    @media (max-width: $mobile-max-width) {
      margin-bottom: 42px;
      width: 77%;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $brown;
    }

    &:active {
      color: inherit;
      opacity: 0.5;
    }
  }
}

.page-footer__container {
  display: grid;
  grid-template-columns: 500px 1fr max-content;
  column-gap: 88px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 100px;
  padding-right: 98px;
  padding-left: 98px;
  width: 100%;
  max-width: 1366px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: 1fr max-content;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    padding-left: 45px;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 35px;
  }
}

.page-footer__section {
  @media (max-width: $tablet-max-width) {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
}

.page-footer__subscribe {
  padding-bottom: 8px;

  @media (max-width: $tablet-max-width) {
    margin-right: 12px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
  }
}

.page-footer__navigation {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 73px;

  @media (max-width: $tablet-max-width) {
    column-gap: 83px;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin-bottom: 17px;
  }
}

.page-footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 6px;
  list-style: none;
  font-weight: 500;

  li {
    margin-bottom: 21px;
  }
}
