.slider {
  overflow: hidden;

  @media (max-width: $tablet-max-width) {
    width: 678px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-max-width) {
    width: 290px;
  }
}

.slider__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}
